.container{
    width:100%;
    display:flex;
    height:90vh;
    border: 2px solid slategrey;
    background-color:black;
    /* justify-content: end; */
    align-content: flex-end;
}
.block{
    position: relative;
    border:1px solid white;
    padding: 50px;
    height: fit-content;
    color: aliceblue;

}