*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

.container{
    height:100vh;
    width:98vw;
    border:8px solid palevioletred;
    display: grid;
    gap:10px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 1fr 80px;
    background-image: linear-gradient(grey, black, palegreen);
    box-sizing: border-box;
}

.box{
    border: 2px solid saddlebrown;
    background-color: aliceblue;

}
#box1{
   
    grid-column-start: 1;
    grid-column-end:4;
}
#box4{
    grid-column-start: 1;
    grid-column-end:4;
}

.container2{
    border: 5px solid palegreen;
    gap: 10px;
    height: 100vh;
    display: grid;
    grid-template-rows:1fr 20fr 1fr;
    grid-template-columns: 1fr 1fr;
    
}
.blocks{
    border:5px solid darkgreen;
}
.block1{
    grid-column-start: 1;
    grid-column-end:3;

}

.container3{
    border:8px solid plum;
    display: grid;
    grid-template-rows:1fr 20fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    gap:5px;

}
.sec{
    border: 5px solid cornflowerblue;
}
.edge{
    grid-column-start: 1;
    grid-column-end: 4;
}